In [1]:
import pandas as pd 
import time
import requests
import datetime

In [ ]:
file=pd.read_csv(r'Dashboard_data\Google DS\Raw_data\6a1CsrpeZubDjEJE9s1CMVheB6HWM5d7m1cj2jkhyXhj_2022-01-09.csv')

In [ ]:
Pools={"Orca_wstETH_B32UuhPSp6srSBbRTh4qZNjkegsehY9qXTwQgnPWYMZy_2021-12-29.csv":[{"account":'Fb3XpEJgghTURUGd1wphWr93ruX5egnesfdZtjWCxJFy',"token":'ZScHuTtqZukUrtZS43teTKGs2VqkKL8k4QCouR2n6Uo',"token_name":"wstETH"},
              {"account":'CeSEpgqc3zV8xDr7Q6PiwJju6a6e92wpAv7Kg6QyFfQB',"token":'7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj',"token_name":"stSOL"}],
      "Mercurial_pG6noYMPVR9ykNgD4XSNa6paKKGGwciU2LckEQPDoSW":[{"account":'9gizzFG33czvcTzn5N4V23uunV6YR55UNW8ow6qNPoX3',"token":'So11111111111111111111111111111111111111112',"token_name":"SOL"},
              {"account":'FqLtqRJvoVNYU5Xpcgp5FNPv8cXCZw7CiNddjQ4nqkRo',"token":'7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj',"token_name":"stSOL"}],
      "Saber_Lid8SLUxQ9RmF7XMqUA8c24RitTwzja8VSKngJxRcUa":[{"account":'AtymwxoVN9peZo7EXTcDz9jKVc4vRmisJKKrNfe3ewBa',"token":'So11111111111111111111111111111111111111112',"token_name":"SOL"},
              {"account":'4PgzyzLtds9bKZ2to9PMnKqJzKEUpjvNUaeN23phegax',"token":'7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj',"token_name":"stSOL"}],
      "Raydium_6a1CsrpeZubDjEJE9s1CMVheB6HWM5d7m1cj2jkhyXhj":[{"account":['4gqecEySZu6SEgCNhBJm7cEn2TFqCMsMNoiyski5vMTD','DD6oh3HRCvMzqHkGeUW3za4pLgWNPJdV6aNYW3gVjXXi'],"token":'7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj',"token_name":"stSOL"},
              {"account":['6FketuhRzyTpevhgjz4fFgd5GL9fHeBeRsq9uJvu8h9m','6KR4qkJN91LGko2gdizheri8LMtCwsJrhtsQt6QPwCi5'],"token":'EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v',"token_name":"USDC"}],
      "Orca_wLDO":[{"account":'GDprNAcXeR5GVGnCtkS5UqyPGMm2Sy5Lk15qqN36faMT',"token":'7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj',"token_name":"stSOL"},
              {"account":'VCgdcsExfmxUDQwusLP2xqZ3ap7VuYyQMMHDPSva2hx',"token":'HZRCwxP2Vq9PCpPXooayhJ2bxTpo5xfpQrwB1svh332p',"token_name":"wLDO"}],
      "Orca_USDC_EfK84vYEKT1PoTJr6fBVKFbyA7ZoftfPo2LQPAJG1exL":[{"account":'9SEBxqhP8sTAzmfiQfCPim1MqQXuDPb6fkGzJF7Z339i',"token":'7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj',"token_name":"stSOL"},
              {"account":'G45yhM5mZ5RXZpLxGWLk3PVzdAp33z8aH6F9mLW8fQj3',"token":'EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v',"token_name":"USDC"}],
      "Solend_5sjkv6HD8wycocJ4tC4U36HHbvgcXYqcyiPRUkncnwWs":[{"account":'7ma18yBbX37RbFHQXiq1XhP6c561nDnYSmF84mwiY7Wo',"token":'7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj',"token_name":"stSOL"}]}

Firstly i fetch all prices for all tokens

In [2]:
def fetch_historical_price(start_date,end_date,token_id):
    daterange = pd.date_range(start_date, end_date)
    dates=[]
    normal_dates=[]
    for single_date in daterange:
        date=(single_date.strftime("%d-%m-%Y"))
        dates.append(date)
    for single_date in daterange:
        date=(single_date.strftime("%Y-%m-%d"))
        normal_dates.append(date)
    token_prices=[]
    for x in range(len(dates)):
        try:
            row={}
            request = requests.get('https://api.coingecko.com/api/v3/coins/'+ token_id +'/history?date=' + dates[x]) 
            if request.status_code == 200:
                price=request.json()['market_data']['current_price']['usd']
                row['blocktime'] = normal_dates[x]
                row['Price']= price
                token_prices.append(row)
            elif request.status_code == 429:
                time.sleep(60)
                price=request.json()['market_data']['current_price']['usd']
                row['blocktime'] = normal_dates[x]
                row['Price']= price
                token_prices.append(row)
            
        except KeyError:
            print(f'Api exceed on {dates[x]}')
            print(request.json())
            
        
    return(token_prices)

In [12]:
coins={'lido-staked-sol':'stSOL','lido-dao':'LDO','wrapped-steth':'wstETH','solana':'SOL','usd-coin':'USDC','tether':'USDT'}

In [4]:
for x in coins.keys():    
    result=fetch_historical_price('2022-01-14','2022-01-18',x)
    result_df=pd.DataFrame(result)
    date = datetime.datetime.today().strftime('%Y-%m-%d')
    path="Prices\\" + coins[x]+"_prices.csv"
    result_df.to_csv(path, sep=',',header=False,mode='a', encoding='utf-8', index=False)

In [50]:
result=fetch_historical_price('2022-01-01','2022-01-18','usd-coin')

In [51]:
result_df=pd.DataFrame(result)
date = datetime.datetime.today().strftime('%Y-%m-%d')

In [52]:
result_df.to_csv("Prices\\usdc_jan.csv", sep=',', encoding='utf-8', index=False)

### Saber SOL

In [19]:
file=pd.read_csv(r'Google DS\Raw_data\Lid8SLUxQ9RmF7XMqUA8c24RitTwzja8VSKngJxRcUa_2022-01-18.csv')

In [20]:
pd.options.mode.chained_assignment = None 
owners=['AtymwxoVN9peZo7EXTcDz9jKVc4vRmisJKKrNfe3ewBa','4PgzyzLtds9bKZ2to9PMnKqJzKEUpjvNUaeN23phegax']
tokens=['7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj','So11111111111111111111111111111111111111112']
pool=file[file['token_acc'].isin(owners)] 
pool=pool[pool['token'].isin(tokens)]
pool['blocktime'] = pd.to_datetime(pool['blocktime'],unit='s')
pool['token'].replace({'7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj':'stSOL','So11111111111111111111111111111111111111112':'SOL'}, inplace=True)
pool=pool.groupby(['blocktime','token'])['balance'].sum().reset_index() 
pool=pool.sort_values(by='blocktime',ascending=True,ignore_index=True)
pool

               blocktime  token        balance
0    2022-01-13 20:39:57    SOL  222723.226657
1    2022-01-13 20:39:57  stSOL  104544.047317
2    2022-01-13 20:52:42    SOL  222816.621751
3    2022-01-13 20:52:42  stSOL  104452.405776
4    2022-01-13 20:59:50    SOL  222817.725586
...                  ...    ...            ...
1251 2022-01-18 09:23:05  stSOL  123155.276898
1252 2022-01-18 09:30:46    SOL  279837.338777
1253 2022-01-18 09:30:46  stSOL  123149.294844
1254 2022-01-18 10:03:26    SOL  279042.986430
1255 2022-01-18 10:03:26  stSOL  123925.687931

[1256 rows x 3 columns]

In [22]:
token1_prices=pd.read_csv(r'Prices\stSOL_prices.csv')
token1_prices['blocktime']=pd.to_datetime(token1_prices['blocktime'],infer_datetime_format=True)
token1_prices['token']='stSOL'
token2_prices=pd.read_csv(r'Prices\SOL_prices.csv')#Change here
token2_prices['blocktime']=pd.to_datetime(token2_prices['blocktime'],infer_datetime_format=False)
token2_prices['token']='SOL'#Change here
pool_dates=pool['blocktime']
token1_prices=pd.merge_asof(pool_dates,token1_prices,on=['blocktime'])
token2_prices=pd.merge_asof(pool_dates,token2_prices,on=['blocktime'])
frames = [token1_prices,token2_prices]
prices = pd.concat(frames)

In [23]:
TVL=pool.merge(prices,on=['blocktime','token'])
TVL=TVL.drop_duplicates(ignore_index=True)
TVL['usd_price']=TVL['balance']*TVL['Price']
TVL.to_csv(r'Google DS\New_tvl\Saber_SOL_pool.csv',sep=',',header=False,mode='a', encoding='utf-8',index=False)#Change here

### Raydium USDC

In [53]:
file=pd.read_csv(r'Google DS\Raw_data\6a1CsrpeZubDjEJE9s1CMVheB6HWM5d7m1cj2jkhyXhj_2022-01-18.csv')

In [54]:
pd.options.mode.chained_assignment = None 
#Change here
owners=['4gqecEySZu6SEgCNhBJm7cEn2TFqCMsMNoiyski5vMTD','DD6oh3HRCvMzqHkGeUW3za4pLgWNPJdV6aNYW3gVjXXi','6FketuhRzyTpevhgjz4fFgd5GL9fHeBeRsq9uJvu8h9m','6KR4qkJN91LGko2gdizheri8LMtCwsJrhtsQt6QPwCi5']
pool=file[file['token_acc'].isin(owners)]
pool['blocktime'] = pd.to_datetime(pool['blocktime'],unit='s')
#Change here
pool['token'].replace({'7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj':'stSOL','EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v':'USDC'}, inplace=True)
pool=pool.groupby(['blocktime','token'])['balance'].sum().reset_index() 
pool=pool.sort_values(by='blocktime',ascending=True,ignore_index=True)
pool

               blocktime  token       balance
0    2022-01-13 20:07:27   USDC  5.898314e+06
1    2022-01-13 20:07:27  stSOL  3.942327e+04
2    2022-01-13 20:12:12   USDC  5.888275e+06
3    2022-01-13 20:12:12  stSOL  3.949071e+04
4    2022-01-13 20:15:08   USDC  5.890341e+06
...                  ...    ...           ...
3835 2022-01-18 09:54:09  stSOL  4.080158e+04
3836 2022-01-18 09:55:21   USDC  5.726175e+06
3837 2022-01-18 09:55:21  stSOL  4.080031e+04
3838 2022-01-18 09:58:25   USDC  5.726176e+06
3839 2022-01-18 09:58:25  stSOL  4.080030e+04

[3840 rows x 3 columns]

In [55]:
token1_prices=pd.read_csv(r'Prices\stSOL_prices.csv')
token1_prices['blocktime']=pd.to_datetime(token1_prices['blocktime'],infer_datetime_format=False)
token1_prices['token']='stSOL'
token2_prices=pd.read_csv(r'Prices\USDC_prices.csv')#Change here
token2_prices['blocktime']=pd.to_datetime(token2_prices['blocktime'],infer_datetime_format=False)
token2_prices['token']='USDC'#Change here
pool_dates=pool['blocktime']
token1_prices=pd.merge_asof(pool_dates,token1_prices,on=['blocktime'])
token2_prices=pd.merge_asof(pool_dates,token2_prices,on=['blocktime'])
frames = [token1_prices,token2_prices]
prices = pd.concat(frames)

In [56]:
TVL=pool.merge(prices,on=['blocktime','token'])
TVL=TVL.drop_duplicates(ignore_index=True)
TVL['usd_price']=TVL['balance']*TVL['Price']
TVL.to_csv(r'Google DS\New_tvl\Raydium_USDC_pool.csv',sep=',',mode='a',header=False, encoding='utf-8',index=False)#Change here

### Orca USDC

In [58]:
file=pd.read_csv(r'Google DS\Raw_data\EfK84vYEKT1PoTJr6fBVKFbyA7ZoftfPo2LQPAJG1exL_2022-01-18.csv')

In [59]:
pd.options.mode.chained_assignment = None 
#Change here
owners=['9SEBxqhP8sTAzmfiQfCPim1MqQXuDPb6fkGzJF7Z339i','G45yhM5mZ5RXZpLxGWLk3PVzdAp33z8aH6F9mLW8fQj3']
pool=file[file['token_acc'].isin(owners)]
pool['blocktime'] = pd.to_datetime(pool['blocktime'],unit='s')
#Change here
pool['token'].replace({'7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj':'stSOL','EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v':'USDC'}, inplace=True)
pool=pool.groupby(['blocktime','token'])['balance'].sum().reset_index() 
pool=pool.sort_values(by='blocktime',ascending=True,ignore_index=True)
pool

               blocktime  token       balance
0    2022-01-13 20:24:00   USDC  4.822635e+06
1    2022-01-13 20:24:00  stSOL  3.219072e+04
2    2022-01-13 20:30:39   USDC  4.824087e+06
3    2022-01-13 20:30:39  stSOL  3.218158e+04
4    2022-01-13 20:30:54   USDC  4.828073e+06
...                  ...    ...           ...
2521 2022-01-18 09:48:53  stSOL  3.527050e+04
2522 2022-01-18 09:50:13   USDC  4.941108e+06
2523 2022-01-18 09:50:13  stSOL  3.527090e+04
2524 2022-01-18 10:08:56   USDC  4.941765e+06
2525 2022-01-18 10:08:56  stSOL  3.526650e+04

[2526 rows x 3 columns]

In [61]:
token1_prices=pd.read_csv(r'Prices\stSOL_prices.csv')
token1_prices['blocktime']=pd.to_datetime(token1_prices['blocktime'],infer_datetime_format=True)
token1_prices['token']='stSOL'
token2_prices=pd.read_csv(r'Prices\USDC_prices.csv')#Change here
token2_prices['blocktime']=pd.to_datetime(token2_prices['blocktime'],infer_datetime_format=False)
token2_prices['token']='USDC'#Change here
pool_dates=pool['blocktime']
token1_prices=pd.merge_asof(pool_dates,token1_prices,on=['blocktime'])
token2_prices=pd.merge_asof(pool_dates,token2_prices,on=['blocktime'])
frames = [token1_prices,token2_prices]
prices = pd.concat(frames)

In [62]:
TVL=pool.merge(prices,on=['blocktime','token'])
TVL=TVL.drop_duplicates(ignore_index=True)
TVL['usd_price']=TVL['balance']*TVL['Price']
TVL.to_csv(r'Google DS\New_tvl\Orca_USDC_pool.csv',sep=',',mode='a',header=False, encoding='utf-8',index=False)#Change here

### Mercurial SOL

In [63]:
file=pd.read_csv(r'Google DS\Raw_data\pG6noYMPVR9ykNgD4XSNa6paKKGGwciU2LckEQPDoSW_2022-01-18.csv')

In [64]:
pd.options.mode.chained_assignment = None 
owners=['9gizzFG33czvcTzn5N4V23uunV6YR55UNW8ow6qNPoX3','FqLtqRJvoVNYU5Xpcgp5FNPv8cXCZw7CiNddjQ4nqkRo']
tokens=['7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj','So11111111111111111111111111111111111111112']
pool=file[file['token_acc'].isin(owners)] 
pool=pool[pool['token'].isin(tokens)]
pool['blocktime'] = pd.to_datetime(pool['blocktime'],unit='s')
pool['token'].replace({'7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj':'stSOL','So11111111111111111111111111111111111111112':'SOL'}, inplace=True)
pool=pool.groupby(['blocktime','token'])['balance'].sum().reset_index() 
pool=pool.sort_values(by='blocktime',ascending=True,ignore_index=True)
pool

               blocktime  token        balance
0    2022-01-13 20:44:23    SOL   99817.234425
1    2022-01-13 20:44:23  stSOL   69859.886216
2    2022-01-13 20:52:42    SOL   99817.044959
3    2022-01-13 20:52:42  stSOL   69860.073717
4    2022-01-13 20:52:45    SOL   99817.044959
...                  ...    ...            ...
1673 2022-01-18 09:40:08  stSOL   67008.125393
1674 2022-01-18 09:50:12    SOL  102624.623875
1675 2022-01-18 09:50:12  stSOL   67017.195582
1676 2022-01-18 10:17:34    SOL  102618.727816
1677 2022-01-18 10:17:34  stSOL   67022.973620

[1678 rows x 3 columns]

In [65]:
token1_prices=pd.read_csv(r'Prices\stSOL_prices.csv')
token1_prices['blocktime']=pd.to_datetime(token1_prices['blocktime'],infer_datetime_format=True)
token1_prices['token']='stSOL'
token2_prices=pd.read_csv(r'Prices\SOL_prices.csv')#Change here
token2_prices['blocktime']=pd.to_datetime(token2_prices['blocktime'],infer_datetime_format=False)
token2_prices['token']='SOL'#Change here
pool_dates=pool['blocktime']
token1_prices=pd.merge_asof(pool_dates,token1_prices,on=['blocktime'])
token2_prices=pd.merge_asof(pool_dates,token2_prices,on=['blocktime'])
frames = [token1_prices,token2_prices]
prices = pd.concat(frames)

In [66]:
TVL=pool.merge(prices,on=['blocktime','token'])
TVL=TVL.drop_duplicates(ignore_index=True)
TVL['usd_price']=TVL['balance']*TVL['Price']
TVL.to_csv(r'Google DS\New_tvl\Mercurial_SOL_pool.csv',sep=',',mode='a',header=False, encoding='utf-8',index=False)#Change here

### Orca wstETH

In [68]:
file=pd.read_csv(r'Google DS\Raw_data\B32UuhPSp6srSBbRTh4qZNjkegsehY9qXTwQgnPWYMZy_2022-01-18.csv')

In [69]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190 entries, 0 to 1189
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   transaction  1190 non-null   object
 1   blocktime    1190 non-null   int64
 2   token_acc    1190 non-null   object
 3   token        1190 non-null   object
 4   balance      1190 non-null   float64
 5   change       1190 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 55.9+ KB

In [70]:
pd.options.mode.chained_assignment = None 
owners=['Fb3XpEJgghTURUGd1wphWr93ruX5egnesfdZtjWCxJFy','CeSEpgqc3zV8xDr7Q6PiwJju6a6e92wpAv7Kg6QyFfQB']
tokens=['7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj','ZScHuTtqZukUrtZS43teTKGs2VqkKL8k4QCouR2n6Uo']
pool=file[file['token_acc'].isin(owners)] 
#pool=pool[pool['token'].isin(tokens)]
pool['blocktime'] = pd.to_datetime(pool['blocktime'],unit='s')
pool['token'].replace({'7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj':'stSOL','ZScHuTtqZukUrtZS43teTKGs2VqkKL8k4QCouR2n6Uo':'wstETH'}, inplace=True)
pool=pool.groupby(['blocktime','token'])['balance'].sum().reset_index() 
pool=pool.sort_values(by='blocktime',ascending=True,ignore_index=True)
pool

              blocktime   token       balance
0   2022-01-13 15:37:12   stSOL  10279.891743
1   2022-01-13 15:37:12  wstETH    463.348691
2   2022-01-13 15:53:54   stSOL  10279.891743
3   2022-01-13 15:53:54  wstETH    463.348691
4   2022-01-13 17:13:32   stSOL  10280.895790
..                  ...     ...           ...
195 2022-01-18 09:03:05  wstETH    412.263633
196 2022-01-18 09:16:49   stSOL   9730.022899
197 2022-01-18 09:16:49  wstETH    412.263301
198 2022-01-18 09:26:07   stSOL   9730.039296
199 2022-01-18 09:26:07  wstETH    412.262609

[200 rows x 3 columns]

In [71]:
token1_prices=pd.read_csv(r'Prices\stSOL_prices.csv')
token1_prices['blocktime']=pd.to_datetime(token1_prices['blocktime'],infer_datetime_format=True)
token1_prices['token']='stSOL'
token2_prices=pd.read_csv(r'Prices\wstETH_prices.csv')#Change here
token2_prices['blocktime']=pd.to_datetime(token2_prices['blocktime'],infer_datetime_format=False)
token2_prices['token']='wstETH'#Change here
pool_dates=pool['blocktime']
token1_prices=pd.merge_asof(pool_dates,token1_prices,on=['blocktime'])
token2_prices=pd.merge_asof(pool_dates,token2_prices,on=['blocktime'])
frames = [token1_prices,token2_prices]
prices = pd.concat(frames)

In [72]:
TVL=pool.merge(prices,on=['blocktime','token'])
TVL=TVL.drop_duplicates(ignore_index=True)
TVL['usd_price']=TVL['balance']*TVL['Price']
TVL.to_csv(r'Google DS\New_tvl\Orca_wstETH_pool.csv',sep=',',mode='a',header=False, encoding='utf-8',index=False)#Change here

### Solend

In [73]:
file=pd.read_csv(r'Google DS\Raw_data\5sjkv6HD8wycocJ4tC4U36HHbvgcXYqcyiPRUkncnwWs_2022-01-18.csv')

In [74]:
pd.options.mode.chained_assignment = None 
owners=['7ma18yBbX37RbFHQXiq1XhP6c561nDnYSmF84mwiY7Wo']
tokens=['7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj']
pool=file[file['token_acc'].isin(owners)] 
pool=pool[pool['token'].isin(tokens)]
pool['blocktime'] = pd.to_datetime(pool['blocktime'],unit='s')
pool['token'].replace({'7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj':'stSOL'}, inplace=True)
pool=pool.groupby(['blocktime','token'])['balance'].sum().reset_index() 
pool=pool.sort_values(by='blocktime',ascending=True,ignore_index=True)
pool

             blocktime  token        balance
0  2022-01-14 00:31:26  stSOL  272978.119851
1  2022-01-14 01:07:31  stSOL  272980.141564
2  2022-01-14 02:13:29  stSOL  272936.906657
3  2022-01-14 04:31:29  stSOL  274995.999917
4  2022-01-14 06:25:34  stSOL  278779.320278
..                 ...    ...            ...
78 2022-01-18 02:04:34  stSOL  470143.382664
79 2022-01-18 04:58:53  stSOL  470123.733840
80 2022-01-18 07:36:15  stSOL  469462.416179
81 2022-01-18 07:56:01  stSOL  469456.114628
82 2022-01-18 09:24:42  stSOL  469456.602775

[83 rows x 3 columns]

In [75]:
token1_prices=pd.read_csv(r'Prices\stSOL_prices.csv')
token1_prices['blocktime']=pd.to_datetime(token1_prices['blocktime'],infer_datetime_format=True)
token1_prices['token']='stSOL'
pool_dates=pool['blocktime']
prices=pd.merge_asof(pool_dates,token1_prices,on=['blocktime'])

In [76]:
TVL=pool.merge(prices,on=['blocktime','token'])
TVL=TVL.drop_duplicates(ignore_index=True)
TVL['usd_price']=TVL['balance']*TVL['Price']
TVL.to_csv(r'Google DS\New_tvl\Solend_SOL_pool.csv',sep=',',mode='a',header=False, encoding='utf-8',index=False)